<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%# HTML tag link to external style.css file saved in the folder ./public/stylesheets %>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>afterSignup_page</title>
</head>
<body>
    <div class="margin5, fnt-clr"> Hi <%= name %>, Congratulations your credentials have been successfully registered. Please login with the login credentials.</div>
    <div class="margin5, fnt-clr">Please click to <a href="http://localhost:3000/login">login</a></div>
</body>
</html>